@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.woff") format("woff"), 
    url("./fonts/Roboto-Regular.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
	font-family: "Roboto-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
